<%include header%>
<div id= links>
                    
    <h1>My contact Links are given below</h1>
    <a href="https://www.linkedin.com/in/harika-naidu-1b366616b/"> View the LinkedIn Profile </a><br>
    <a href="https://github.com/Harika1995"> View the GitHub Profile </a><br>
    <a href="https://bitbucket.org/Harika-Naidu/"> View the BitBucket Profile </a><br>
</div>
</nav>
<h1 style="text-align:center; color: purple">Contact Us</h1>
<div class="c2">
<form>
<p class="details">First name:<sub></sub>*</p>
<input type="text" placeholder="Enter your Firstname" required class="contact" /><br><br>
<p class="details">Last name:<sub></sub>*</p>
<input type="text" placeholder="Enter your Lastname" required class="contact" /><br><br>
<p class="details">Email Id:<sub></sub>*</p>
<input type="email" placeholder="Enter your email" required class="contact" /><br><br>
<p class="details">Enter any Question<sub></sub>*</p>
<textarea  style ="height:250px;width:250px" Placeholder="Enter your question" required id="contact"></textarea><br>
<input type="submit" value="Submit" />


</form>
</div>


</body>
</html>
